@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #F8B435;
}


/* 
1️⃣ Olive Green: #879E58
2️⃣ Light Yellow: #FBECA9
3️⃣ Golden Yellow: #F8B435
4️⃣ Muted Red / Brick: #B15147 */


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}




@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --foreground: #E0E0E0;
  }
}


.COLORS {
  color: #333333;
  /* background */

  color: #E0E0E0;
  /* foreground */

  color: #f1c604;
  /* specific letter highlight */

  color: #494949;
  /* nav bar or other  */

  color: #5A5A5A;
  /* text */

  color: #1d2435
    /* container */
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.h1fontChange {
  /* font-family: "Times New Roman"; */
  font-size: 35px;

}

.h1fontChangeName {
  /* font-family: "Times New Roman"; */
  color: #f1c604;


}

.container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pfontChange {

  /* font-family: "Times New Roman"; */
  font-size: 24px;

}



.navBarColor {
  background-color: #1d2435;
}

.navBarColorActive {
  /* font-family: "Times New Roman"; */
  color: #f1c604;
  border-bottom: 4px solid #f1c604;
  font-size: 20px;

}

.navBarText {
  /* font-family: "Times New Roman"; */
  font-size: 20px;
}


















/* ICONS, IMAGES */



.circleBorder {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}






/* COLORS*/
.bgColorYellow {
  background-color: #f1c604;

}

.bgColorWhite {
  background-color: #f1c604;

}

.textColorWhite {
  color: #E0E0E0;

}

.containerColor {
  background-color: #1d2435;
}