@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #F8B435;
}


/* 
1️⃣ Olive Green: #879E58
2️⃣ Light Yellow: #FBECA9
3️⃣ Golden Yellow: #F8B435
4️⃣ Muted Red / Brick: #B15147 */


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e29578;
    --foreground: #006d77;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.h1fontChange {

  font-family: "Times New Roman", Georgia, serif;
  font-size: 35px;


}

.h1fontChangeName {

  font-family: "Times New Roman", Georgia, serif;
  font-size: 35px;
  color: #edf6f9;


}

.container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pfontChange {

  font-family: "Times New Roman", Georgia, serif;
  font-size: 24px;

}

.navBackGround {

  background-color: #006d77;
}



















/* ICONS, IMAGES */

.iconSize {
  font-size: 35px;
  margin-bottom: 10px;

}

.circleBorder {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}